@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Coutrie_Selector {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.open {

    .Countrie_Selector_Label,

    input {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top: 1px solid $blue_darker;
      border-right: 1px solid $blue_darker;
    }
  }

  .Countrie_Selector_Label {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: $blue_darker;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;

    span{
      color: $white;
      font-family: $font_family_poppins;
      font-size: 13px;
    }
  }

  input{
    position: relative;
    width: 70%;
    height: 100%;
    color: #9da9bb;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    font-family: $font_family_open_sans;
  

    &::placeholder{
      color: #9da9bb;
    }
  }

  .Coutrie_Selector_List_Wrapper{
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 5;
    width: calc(100% - 2px);

    .Coutrie_Selector_List {
      position: absolute;
      width: 100%;
      max-height: 180px;
      scroll-behavior: auto;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $blue_darker;
      border-left: 1px solid $blue_darker;
      border-right: 1px solid $blue_darker;
      border-radius: 0px 0px 10px 10px;
      overflow: auto; 
      z-index: 344;

      &::-webkit-scrollbar
      {
        width: 7px;
        height: 4px;
        border-radius: 0px 0px 10px 0px;
      }
    
      &::-webkit-scrollbar-thumb {

        border-radius: 0px 0px 10px 0px;
        background-color: $blue_darker;/* Definindo a altura para 10 pixels abaixo do tamanho máximo */
      }

      li {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        span {
          color: $gray;
          font-family: $font_family_poppins;
        }

        img {
          width: 20px;
          height: 15px;
          margin-left: 5px;
        }
      }

      .NotFound{
        color: $gray;
      }
    }
  }
}
  
// Colors
  .Dark_Mode .Coutrie_Selector input{
    background-color: $primary_color_dark;
  }
      
  .Light_Mode .Coutrie_Selector input{
    background-color: $primary_color_light;
  }

  .Dark_Mode .Coutrie_Selector .Coutrie_Selector_List li:hover{
    background-color: #8695ab94;
  }
      
  .Light_Mode .Coutrie_Selector .Coutrie_Selector_List li:hover{
    background-color: rgb(205, 200, 200);
  }

  .Dark_Mode .Coutrie_Selector .Coutrie_Selector_List li:hover span{
    color: $blue_darker;
  }
      
  .Light_Mode .Coutrie_Selector .Coutrie_Selector_List li:hover span{
    color: $blue_darker;
  }

  .Dark_Mode .Coutrie_Selector .Coutrie_Selector_List{
    background-color: $primary_color_dark;
  }
      
  .Light_Mode .Coutrie_Selector .Coutrie_Selector_List{
    background-color: $primary_color_light;
  }
// Colors

@media (max-width: 800px) {
  .Coutrie_Selector .Coutrie_Selector_List {
    max-height: 90px;
  }
}