@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.CE {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: right;
  
  .Small_Container_With_SideBar_Close {
    width: calc(100% - 70px);
    height: auto;
    margin-top: 5vh;
    transition: 0.3s all;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .Small_Container_With_SideBar_Open {
    width: calc(100% - 270px);
    height: auto;
    margin-top: 5vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    gap: 10px;
  }

  .Container_With_MobileMenu {
    width: 100%;
    height: auto;
    margin-top: 5vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s;
    gap: 10px;
  }
}

// Colors
  .Dark_Mode .CE{
    background-color: $primary_color_dark;
  }

  .Light_Mode .CE{
    background-color: $primary_color_light;
  }
// Colors