@import '../../../Styles/Global.scss';

.Recover_Password {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.Dark_Mode .Recover_Password{
  background-color: $secundery_color_dark;
}

.Recover_Password .Alert{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 44;
}

.Recover_Password .Forms_Container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.Recover_Password .Forms_Container .Recover_Password_Form {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.Recover_Password .Forms_Container .Recover_Password_Form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.Recover_Password .Forms_Container .Recover_Password_Form .Sign_Up_Form {
  opacity: 0;
  z-index: 1;
}

.Recover_Password .Forms_Container .Recover_Password_Form .Sign_In_Form {
  z-index: 2;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}


.Recover_Password .Forms_Container .Recover_Password_Form form h1{
  font-size: 30px;
  letter-spacing: 2px;
  font-family: $font_family_poppins;
}

.Dark_Mode .Recover_Password .Forms_Container .Recover_Password_Form form h1{
  color: $gray;
}

.Light_Mode .Recover_Password .Forms_Container .Recover_Password_Form form h1{
  color: $gray_dark;
}

.Recover_Password .Forms_Container .Recover_Password_Form form .Input_Field {
  max-width: 380px;
  width: 100%;
  margin: 5px 0;
  height: 35px;
  display: grid;
  padding: 0 0.4rem;
  position: relative;
}

.Recover_Password .Panels_Container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Recover_Password:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.Recover_Password .Panels_Container .Panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.Recover_Password .Panels_Container .Left_Panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.Recover_Password .Panels_Container .Right_Panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.Recover_Password .Panels_Container .Panel .Content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.Recover_Password .Panels_Container .Panel h1 {
  font-weight: 600;
  font-family: $font_family_poppins;
  line-height: 1;
  font-size: 1.5rem;
}

.Recover_Password .Panels_Container .Panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
  font-family: $font_family_open_sans;
}

.Recover_Password .Panels_Container .Panel button{
  background: none;
  padding: 5px 15px 5px 15px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: $font_family_open_sans;
  color: white;
  cursor: pointer;
}

@media (max-width: 870px) {
  .Recover_Password {
    min-height: 800px;
    height: 100vh;
  }

  .Recover_Password .Forms_Container .Recover_Password_Form {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .Recover_Password .Forms_Container .Recover_Password_Form,
  .Recover_Password.sign-up-mode .Recover_Password_Form {
    left: 50%;
  }

  .Recover_Password .Panels_Container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .Recover_Password .Panels_Container .Panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .Recover_Password .Panels_Container .Right_Panel {
    grid-row: 3 / 4;
  }

  .Recover_Password .Panels_Container .Left_Panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .Recover_Password .Panels_Container .Panel .Content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .Recover_Password .Panels_Container .Panel h3 {
    font-size: 1.2rem;
  }

  .Recover_Password .Panels_Container .Panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .Recover_Password:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .Recover_Password.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .Recover_Password.sign-up-mode .Panels_Container .Left_Panel .image,
  .Recover_Password.sign-up-mode .Panels_Container .Left_Panel .Content {
    transform: translateY(-300px);
  }

  .Recover_Password.sign-up-mode .Panels_Container .Right_Panel .image,
  .Recover_Password.sign-up-mode .Panels_Container .Right_Panel .Content {
    transform: translateY(0px);
  }

  .Recover_Password .Panels_Container .Right_Panel .image,
  .Recover_Password .Panels_Container .Right_Panel .Content {
    transform: translateY(300px);
  }

  .Recover_Password.sign-up-mode .Recover_Password_Form {
    top: 10%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .Recover_Password .Forms_Container .Recover_Password_Form form  {
    padding: 0 1.5rem;
  }

  .Recover_Password .Panels_Container .Right_Panel .image {
    display: none;
  }

    .Recover_Password .Panels_Container .Panel .Content {
    padding: 0.5rem 1rem;
  }
  
  .Recover_Password {
    padding: 1.5rem;
  }

  .Recover_Password:before {
    bottom: 72%;
    left: 50%;
  }

  .Recover_Password.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}