.Darker_Desactivate {
  position: fixed;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  inset: 0;
  z-index: 55;
}

.Dark_Mode .Darker_Activate{
  background-color: #3c475696;
  z-index: 5;
  cursor: pointer;
}
    
.Light_Mode .Darker_Activate{
  background-color: #0915248d;
  z-index: 5;
  cursor: pointer;
}