$primary_color_dark: #0b1727;
$primary_color_light: #dee4ee;

$secundary_color_dark: #121e2d;
$secundary_color_light: #ffffff;

$terciary_color_dark: #162231;
$terciary_color_light: #f9fafd;

$fourth_color_Dark : #222f41;
$fourth_color_light : #edf2f9;

$gray: #9da9bb;
$gray_light: #b6babe;
$gray_dark: #6c6e71;
$gray_darker: #47484a;
$gray_darker_2: #232e3c;

$blue_light: #4695ff;
$blue: #3083f1;
$blue_dark: #062a57;
$blue_darker: #01224b;

$white: #ffff;

$green: #00d27a;

$red: #eb4646;
$red_light: rgb(240, 133, 133);

$orange:#f58344;