@import '../../../Styles/Global.scss';

.Dashboard{
  @include Pages_Configs;
  height: 95vh;

  .Section_N1{
    
    .Assets_Card{
      display: flex;
      flex-direction: column;
      border-radius: $border_radius;
      box-shadow: $box_shadow;

      header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0px 5px 0px;
        border-radius: 10px 10px 0px 0px;

        h1{
          font-family: $font_family_poppins;
          margin-left: 5px;
          letter-spacing: 3px;
          color: $blue;
          font-size: 16px;
          margin-left: 10px;
        }
      }

      body{
        width: 100%;
        display: flex;

        ul{
          width: 100%;
          display: flex;
          justify-content: space-between;

          li{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0px 5px 0px;
            font-family: $font_family_open_sans;

            a{
              text-decoration: none;
              border-bottom: 1px solid rgba(245, 222, 179, 0);
              transition: 0.3s;
              margin-left: 10px;
              font-size: 15px;

              &:hover{
                border-bottom: 1px solid #2c7be5;
                color: $blue;
              }
            }

            span {
              margin-right: 10px;
              font-size: 15px;
            }
          } 
        }
      }

      footer{
        border-radius: 0px 0px 10px 10px;
        padding: 5px 0px 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
          font-family: $font_family_poppins;
          margin-left: 5px;
          letter-spacing: 3px;
          color: $blue;
          font-size: 14px;
        }
      }
    }
  }
}

// Colors
  .Dark_Mode .Dashboard .Section_N1 .Assets_Card body{
    background-color: $tertiary_color_dark;
  }

  .Light_Mode .Dashboard .Section_N1 .Assets_Card body{
    background-color: $tertiary_color_ligth;
  }

  .Dark_Mode .Dashboard .Section_N1 .Assets_Card body ul li a,
  .Dark_Mode .Dashboard .Section_N1 .Assets_Card body ul li span,
  .Dark_Mode .Dashboard .Section_N1 .Assets_Card header h1 {
    color: $gray ;
  }

  .Light_Mode .Dashboard .Section_N1 .Assets_Card body ul li a,
  .Light_Mode .Dashboard .Section_N1 .Assets_Card body ul li span,
  .Light_Mode .Dashboard .Section_N1 .Assets_Card header h1 {
    color: $gray_dark;
  }
// Colors