@import '../../../Styles/Global.scss';

.Alert{
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
  z-index: 44;
}

.Create_Saving_Transition{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  z-index: 5;

  &.active{
    display: flex;
  }

  form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: $border_radius;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: $box_shadow;

    .Field_Transition_Type,
    .Input_Field,
    .Button_Field,
    .Text_Field{
      width: 350px;
      height: 35px;
    }

    .Field_Transition_Type{
      display: flex;
      justify-content: space-evenly;
      gap: 10px;

      button{
        width: 100%;
        font-family: $font_family_poppins;
        border-radius: $border_radius;
        padding: 0px 10px 0px 10px;
        cursor: pointer;
        border: none;
        color: $gray;

        &.active[value='Deposit']{
          color: $green;
        }
      }
    }
  }
}

// Colors
  .Dark_Mode .Create_Saving_Transition form,
  .Dark_Mode .Create_Saving_Transition form .Field_Transition_Type button{
    background-color: $secundery_color_dark;
  }

  .Light_Mode .Create_Saving_Transition form,
  .Light_Mode .Create_Saving_Transition form .Field_Transition_Type button{
    background-color: $secundery_color_light;
  }

  .Light_Mode .Create_Saving_Transition form .Field_Transition_Type button.active[value='Withdraw']{
    color: $red_light;
  }

  .Dark_Mode .Create_Saving_Transition form .Field_Transition_Type button.active[value='Withdraw']{
    color: $red;
  }

  .Light_Mode .Savings_Dashboard .First_Transition .Title .First_Title h1:nth-of-type(2){
    color: $gray !important;
  }
// Colors