@import '../../../../../Styles/Colors.scss';
@import '../../../../../Styles/Fonts.scss';
@import '../../../../../Styles/Formats.scss';

.Savings_Dashboard{
  @include Pages_Configs;
  min-height: 95vh;

  .Alert{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 55;
  }

  .Totals{
    position: relative;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;  
    margin-top: 10px;

    .Total_On_Savings{
      width: 100%;
      height: 100%;
      border-radius: $border_radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: $border;

      .Header{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-around;
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
        box-sizing: border-box;

        span{
          font-family: $font_family_poppins;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }

      .Body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span{
          font-family: $font_family_poppins;
          font-size: 35px;
        }
      }

      .Footer{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-around;
        border-radius: 0px 0px 10px 10px;
        padding: 5px;
        box-sizing: border-box;

        a{
          text-decoration: none;
          font-family: $font_family_poppins;
          font-size: 14px;
          letter-spacing: 1px;
          transition: 0.5s;

          &:hover{
            color: $blue !important;
          }
        }
      }
    }

    .Savings_Pie_Chart{
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: $border_radius;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .Header{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-around;
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
        box-sizing: border-box;

        span{
          font-family: $font_family_poppins;
          font-size: 14px;
          letter-spacing: 1px;
        }

        select{
          border: none;
          border-radius: 5px;
          width: 130px;
          text-align: center;
          font-family: $font_family_poppins;
          outline: none;
          cursor: pointer;
        }
      }

      .Loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .No_Transition{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span{
          font-family: $font_family_poppins;
          font-size: 20px;
        }
      }

      .Contente{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .SavingsPieChart{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          font-size: 13px;
          justify-content: center;
          align-items: center;
          padding: 10px;
          height: 90%;
          width: 400px;
        }
      }

      .Loading_Container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .Actions{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: $border_radius;
    border: $border;
    
    .Button_Field{
      width: 100%;
      height: 30px;
    }
  }
}

@media (max-width: 1050px){
  .Savings_Dashboard{

    .Totals{

      .Total_On_Savings{

        .Header{

          span{
            font-size: 12px;
          }
        }

        .Footer{

          a{
            font-size: 12px;
          }
        }
      }

      .Savings_Pie_Chart{

        .Header{

          span{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px){
  .Savings_Dashboard{

    .Totals{
      height: auto;
      display: flex;
      flex-direction: column;

      .Total_On_Savings{
        height: 200px;

        .Body{

          span{
            font-size: 25px;
          }
        }
      }

      .Savings_Pie_Chart{
        height: 250px;
      }
    }
  }
}

@media (max-width: 500px){
  .Savings_Dashboard{

    .Totals{

      .Savings_Pie_Chart{
        height: 300px;
        
        .Header{
          display: flex;
          flex-direction: column;
          height: auto;
          align-items: center;
          justify-content: space-around;
          gap: 10px;
        }

        .Contente{

          .SavingsPieChart{
            width: 350px;
          }
        }
      }
    }
  }
}

.Dark_Mode{
 
  .Savings_Dashboard{

    .Totals{

      .Total_On_Savings,
      .Savings_Pie_Chart{
        background-color: $secundary_color_dark;
        box-shadow: $border_dark;
      }

      .Total_On_Savings{

        .Header{
          background-color: $terciary_color_dark;

          span{
            color: $gray;
          }
        }

        .Body{
  
          span{
            color: $gray
          }
        }

        .Footer{
          background-color: $terciary_color_dark;

          a{
            color: $gray;
          }
        }
      }

      .Savings_Pie_Chart{
        background-color: $secundary_color_dark;
        box-shadow: $box_shadow_dark;

        .Header{
          background-color: $terciary_color_dark;

          span{
            color: $gray;
          }

          select{
            background-color: $primary_color_dark;
            color: $gray;
            border: 1px solid $blue;
          }
        }

        .No_Transition{
  
          span{
            color: $gray;
          }
        }
      }
    }

    .Actions{
      background-color: $secundary_color_dark;
      box-shadow: $border_dark;
    }
  }
}