@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Custumize_Sidebar{
  position: fixed;
  width: 350px;
  height: 100vh;      
  display: flex;
  flex-direction: column;
  align-items: center;  
  top: 0;
  right: -350px;
  transition: 300ms;
  z-index: 5;
  user-select: none;
  -webkit-user-select: none;

  &.active {
    right: 0;
    transition: 300ms;
  }

  header{
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .Circle_N1 {
      position: absolute;
      width: 160px;
      height: 160px;
      top: -70%;
      right: -16%;
      border-radius: 100%;
      background-color: $blue_darker;
    }
    
    .Circle_N2 {
      position: absolute;
      width: 150px;
      height: 150px;
      bottom: -130%;
      right: 35%;
      border-radius: 100%;
      background-color: $blue_darker;
    }

    .Container{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;

      .Top{
        width: 95%;
        height: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .Left{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .Icon{
            height: 20px;
            margin-bottom: 1px;
          }

          h1{
            font-size: 18px;
            color: white;
            margin-left: 10px;
            font-family: $font_family_poppins;
            letter-spacing: 2px;
            z-index: 3;
          }
        }

        .Right{
          width: auto;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 55;

          .Close_Icon {
            height: 100%;
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            .Line_N1{
              width: 2px;
              height: 20px;
              transform: rotate(45deg);
              background-color: white;
            }

            .Line_N2{
              width: 2px;
              height: 20px;
              transform: rotate(-45deg);
              background-color: white;
            }

            &:hover {

              div {
                cursor: pointer;
                opacity: 0.70;
                transition: 0.3s;
              }
            }
          }
        }
      }

      .Bottom{
        width: 95%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: left;

        span{
          font-size: 14px;
          letter-spacing: 1px;
          opacity: 0.70;
          font-family: 'Open Sans', sans-serif;
          color: white;
        }
      }
    }
  }

  .Settings_Container{
    position: relative;
    height: 92vh;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Theme{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .Theme_Info{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
        span:nth-child(1){
         font-family: $font_family_poppins;
         font-size: 15px;
         letter-spacing: 2px;
        }

        span:nth-child(2){
          font-family: $font_family_open_sans;
          font-size: 14px;
        }
      }

      .Theme_Option{
        width: 100%;
        display: flex;
        gap: 15px;

        .Option{
          width: 100%;
          cursor: pointer;

          img{
            width: 100%;
            height: 120px;
            border-radius: $border_radius;
            border: 2px solid rgba(0, 128, 0, 0);
          }

          .GreenBoxShadow{
            border: 2px solid rgb(34, 196, 34);
          }

          .Checkbox{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;

            span{
              font-family: $font_family_open_sans;
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.Dark_Mode{

  .Custumize_Sidebar{
    background-color: $primary_color_dark;

    header{
      background-color: $blue_dark;

      .Circle_N1,
      .Circle_N2{
        background-color: $blue_darker;
      }
    }

    .Settings_Container{
      background-color: $primary_color_dark;

      .Theme{
  
        .Theme_Info{
          
          span:nth-child(1){
           color: $white;
          }
  
          span:nth-child(2){
            color: $gray_light;
          }
        }

        .Theme_Option{

          .Option{

            .Checkbox{

              span{
                color: $gray_light;
              }
            }
          }
        }
      }
    }
  }
}

.Light_Mode{

  .Custumize_Sidebar{
    background-color: $primary_color_light;

    header{
      background-color: $blue_light;

      .Circle_N1,
      .Circle_N2{
        background-color: $blue;
      }
    }

    .Settings_Container{
      background-color: $primary_color_light;

      .Theme{
  
        .Theme_Info{
          
          span:nth-child(1){
           color: $gray_dark;
          }
  
          span:nth-child(2){
            color: $gray_darker;
          }
        }

        .Theme_Option{

          .Option{

            .Checkbox{

              span{
                color: $gray_darker;
              }
            }
          }
        }
      }
    }
  }
}