@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Custumize_Sidebar{
  position: fixed;
  width: 350px;
  height: 100vh;      
  display: flex;
  flex-direction: column;
  align-items: center;  
  top: 0;
  right: -350px;
  transition: 300ms;
  z-index: 5;
  user-select: none;
  -webkit-user-select: none;

  &.active {
    right: 0;
    transition: 300ms;
  }
}

.Dark_Mode{

  .Custumize_Sidebar{
    background-color: $primary_color_dark;
  }
}

.Light_Mode{

  .Custumize_Sidebar{
    background-color: $primary_color_light;
  }
}